target/
bin/
.settings/
.cache
.project
.classpath
.cache-main
.cache-tests
.idea/
project/target
project/project
/.idea/


# as sbt version is determined by the given binary
project/build.properties

